<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Context.xml" source-language="en-US" target-language="ko-KR">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac51e0c26cb60ed91334efcc1c19a0eb91f6b7992b6.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1e0c26cb60ed91334efcc1c19a0eb91f6b7992b6</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7,xamarinandroid-7.1,xamarinios-10.8,xamarinmac-3.0</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Defines an environment for the objects that are resident inside it and for which a policy can be enforced.</source>
          <target state="translated">그 안에 상주하며 정책이 적용될 수 있는 개체의 환경을 정의합니다.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A context is an ordered sequence of properties that define an environment for the objects resident inside it.</source>
          <target state="translated">컨텍스트는 한 일련의 내부에 상주 하는 개체에 대 한 환경을 정의 하는 속성입니다.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Contexts get created during the activation process for objects that are configured to require certain automatic services, such as synchronization, transactions, just-in-time activation, security, and so on.</source>
          <target state="translated">동기화, 트랜잭션, 적시에 정품 인증, 보안 등의 특정 자동 서비스를 요구 하도록 구성 하는 개체에 대 한 정품 인증 과정 중 컨텍스트에 작성 합니다.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Multiple objects can live inside a context.</source>
          <target state="translated">컨텍스트에는 여러 개의 개체가 존재할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes are marked with an instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> class, which provides the usage rules.</source>
          <target state="translated">클래스의 인스턴스로 표시 됩니다는 <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> 클래스 사용 규칙을 제공 합니다.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Whenever a new object is instantiated, the .NET Framework finds a compatible or creates a new instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> class for the object.</source>
          <target state="translated">새 개체를 인스턴스화할 때마다.NET Framework 호환 되는 찾거나의 새 인스턴스를 만듭니다는 <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> 개체에 대 한 클래스입니다.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Once an object is placed in a context, it stays in it for life.</source>
          <target state="translated">개체 컨텍스트에서 배치 되 면 상태를 유지에 수명에 대 한 합니다.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes that can be bound to a context are called context-bound classes.</source>
          <target state="translated">컨텍스트에 바인딩되는 클래스를 컨텍스트 바인딩 클래스라고 합니다.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>When accessed from another context, such classes are referenced directly by using a proxy.</source>
          <target state="translated">이러한 클래스는 다른 컨텍스트에서 액세스할 경우 프록시를 사용 하 여 직접 참조 합니다.</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Any call from an object in one context to an object in another context will go through a context proxy and be affected by the policy that the combined context properties enforce.</source>
          <target state="translated">다른 컨텍스트에서 개체를 호출할 때 컨텍스트에서 개체에서 상황에 맞는 프록시를 통과 결합 된 컨텍스트 속성을 적용 하는 정책에 의해 영향을 받을 수 있습니다.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A new object's context is generally chosen based on meta-data attributes on the class.</source>
          <target state="translated">일반적으로 새 개체의 컨텍스트는 클래스에 대 한 메타 데이터 특성에 따라 선택 합니다.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>This mechanism is extensible through custom attributes.</source>
          <target state="translated">이 메커니즘은 사용자 지정 특성을 통해 확장할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>These are known as static-context properties, which are compiled into the class meta-data.</source>
          <target state="translated">이러한 클래스 메타 데이터에 컴파일되는 정적 컨텍스트 속성으로 알려져 있습니다.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Dynamic-context properties (also known as configuration properties) can be applied and configured by administrators.</source>
          <target state="translated">동적 컨텍스트 속성 (구성 속성이 라고도 함)를 적용 하 고 관리자가 구성할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>For more information on contexts, see <bpt id="p1">[</bpt>&amp;#91;<ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts&gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>.</source>
          <target state="translated">컨텍스트에 대 한 자세한 내용은 참조 하십시오. <bpt id="p1">[</bpt> &amp;#91; <ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts &gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>합니다.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> class.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> 클래스의 새 인스턴스를 초기화합니다.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>Allocates an unnamed data slot.</source>
          <target state="translated">명명되지 않은 데이터 슬롯을 할당합니다.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>A local data slot.</source>
          <target state="translated">로컬 데이터 슬롯입니다.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">모든 컨텍스트 슬롯 할당 됩니다.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The required name for the data slot.</source>
          <target state="translated">데이터 슬롯의 이름(필수)입니다.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Allocates a named data slot.</source>
          <target state="translated">명명된 데이터 슬롯을 할당합니다.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>A local data slot object.</source>
          <target state="translated">로컬 데이터 슬롯 개체입니다.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">모든 컨텍스트 슬롯 할당 됩니다.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">명명 된 데이터 슬롯은 공용 이며 다른 사용자에 의해 조작 될 수 있습니다.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>Gets the context ID for the current context.</source>
          <target state="translated">현재 컨텍스트의 컨텍스트 ID를 가져옵니다.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>The context ID for the current context.</source>
          <target state="translated">현재 컨텍스트의 컨텍스트 ID입니다.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>Gets the array of the current context properties.</source>
          <target state="translated">현재 컨텍스트 속성의 배열을 가져옵니다.</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>The current context properties array; otherwise, <ph id="ph1">&lt;see langword="null" /&gt;</ph> if the context does not have any properties attributed to it.</source>
          <target state="translated">현재 컨텍스트 속성 배열이거나, 컨텍스트에 지정된 속성이 없는 경우 <ph id="ph1">&lt;see langword="null" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Gets the default context for the current application domain.</source>
          <target state="translated">현재 응용 프로그램 도메인에 대한 기본 컨텍스트를 가져옵니다.</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>The default context for the <ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> namespace.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> 네임스페이스에 대한 기본 컨텍스트입니다.</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Every thread in an application domain for which a context is not explicitly set is considered to be running in the default context.</source>
          <target state="translated">컨텍스트 하지 명시적으로 설정 된 응용 프로그램 도메인의 모든 스레드는 기본 컨텍스트에서 실행 되 고 간주 됩니다.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate used to request the callback.</source>
          <target state="translated">콜백을 요청하는 데 사용되는 대리자입니다.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>Executes code in another context.</source>
          <target state="translated">다른 컨텍스트의 코드를 실행합니다.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>A callback can be done by calling the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> method on it by passing in a delegate.</source>
          <target state="translated">콜백을 호출 하 여 수행할 수 있습니다는 <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> 메서드를 대리자에 전달 하 여 합니다.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate is used to request a callback.</source>
          <target state="translated">대리자 콜백을 요청 하는 데 사용 됩니다.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate must be a <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> class type.</source>
          <target state="translated">대리자 이어야 합니다는 <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> 클래스 유형입니다.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>Cleans up the backing objects for the nondefault contexts.</source>
          <target state="translated">기본 컨텍스트가 아닌 컨텍스트의 지원 개체를 정리합니다.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>For default contexts, backing objects are cleaned up during shut down of the <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> class.</source>
          <target state="translated">기본 컨텍스트에 대 한 지원 개체가 정리 됩니다 종료 하는 동안의 <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> 클래스입니다.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>The name of the data slot to free.</source>
          <target state="translated">해제할 데이터 슬롯의 이름입니다.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Frees a named data slot on all the contexts.</source>
          <target state="translated">모든 컨텍스트에서 명명된 데이터 슬롯을 해제합니다.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">명명 된 데이터 슬롯은 공용 이며 다른 사용자에 의해 조작 될 수 있습니다.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Freezes the context, making it impossible to add or remove context properties from the current context.</source>
          <target state="translated">현재 컨텍스트에서 컨텍스트 속성을 추가하거나 제거하지 못하도록 컨텍스트를 고정합니다.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Context properties cannot be added after the context has been frozen.</source>
          <target state="translated">컨텍스트 고정 된 후에 컨텍스트 속성을 추가할 수 없습니다.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>The context is already frozen.</source>
          <target state="translated">컨텍스트가 이미 고정되어 있는 경우</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>The data slot that contains the data.</source>
          <target state="translated">데이터가 들어 있는 데이터 슬롯입니다.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Retrieves the value from the specified slot on the current context.</source>
          <target state="translated">현재 컨텍스트의 지정된 슬롯에서 값을 검색합니다.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Returns the data associated with <ph id="ph1">&lt;paramref name="slot" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="slot" /&gt;</ph>과 연결된 데이터를 반환합니다.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>The data slot name.</source>
          <target state="translated">데이터 슬롯 이름입니다.</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Looks up a named data slot.</source>
          <target state="translated">명명된 데이터 슬롯을 찾습니다.</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Returns a local data slot.</source>
          <target state="translated">로컬 데이터 슬롯을 반환합니다.</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>If the name has not been used, a new slot is allocated.</source>
          <target state="translated">해당 이름을 사용 하는, 새 슬롯 할당 됩니다.</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">명명 된 데이터 슬롯은 공용 이며 다른 사용자에 의해 조작 될 수 있습니다.</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The name of the property.</source>
          <target state="translated">속성의 이름입니다.</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>Returns a specific context property, specified by name.</source>
          <target state="translated">이름으로 지정된 특정 컨텍스트 속성을 반환합니다.</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The specified context property.</source>
          <target state="translated">지정된 컨텍스트 속성입니다.</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The dynamic property to register.</source>
          <target state="translated">등록할 동적 속성입니다.</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>속성<ept id="p1">&lt;/c&gt;</ept>을 등록할 해당 개체/프록시입니다.</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>속성<ept id="p1">&lt;/c&gt;</ept>을 등록할 컨텍스트입니다.</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Registers a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface with the remoting service.</source>
          <target state="translated">원격 서비스를 사용하여 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> 인터페이스를 구현하는 동적 속성을 등록합니다.</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the property was successfully registered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">속성이 성공적으로 등록되었으면 <ph id="ph1">&lt;see langword="true" /&gt;</ph>이고, 그렇지 않으면 <ph id="ph2">&lt;see langword="false" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Based on <ph id="ph1">`obj`</ph> and <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> is asked to contribute a sink that is placed at some location in the path of remoting calls.</source>
          <target state="translated">에 따라 <ph id="ph1">`obj`</ph> 및 <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> 원격 호출의 경로 있는 동일한 위치에 배치 되 고 싱크를 제공 하 라는 메시지가 표시 됩니다.</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If multiple properties are registered, their sinks will be called in an arbitrary order that can change between calls.</source>
          <target state="translated">여러 속성을 등록 하는 경우 해당 싱크 호출 사이 변경 하는 임의의 순서로 호출 됩니다.</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`obj`</ph> is not <ph id="ph2">`null`</ph>, and then if it is a proxy, all calls made on the proxy are intercepted.</source>
          <target state="translated">경우 <ph id="ph1">`obj`</ph> 않습니다 <ph id="ph2">`null`</ph>, 다음 프록시 이면 프록시에 대 한 모든 호출이 가로챈 하 고 있습니다.</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Otherwise, if <ph id="ph1">`obj`</ph> is a real object, all calls on the object are intercepted.</source>
          <target state="translated">그렇지 않은 경우, <ph id="ph1">`obj`</ph> 실제 개체는 개체에 대 한 모든 호출이 차단 됩니다.</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">`ctx`</ph> parameter must be <ph id="ph2">`null`</ph>.</source>
          <target state="translated"><ph id="ph1">`ctx`</ph> 매개 변수 여야 <ph id="ph2">`null`</ph>합니다.</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`ctx`</ph> is not <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> must be <ph id="ph4">`null`</ph> and all calls entering and leaving the context are intercepted.</source>
          <target state="translated">경우 <ph id="ph1">`ctx`</ph> 않습니다 <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> 해야 <ph id="ph4">`null`</ph> 모든 호출이 컨텍스트로 들어오거나 나가는 패킷은 및 합니다.</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If both <ph id="ph1">`ctx`</ph> and <ph id="ph2">`obj`</ph> are <ph id="ph3">`null`</ph>, all calls entering and leaving all contexts are intercepted.</source>
          <target state="translated">두 <ph id="ph1">`ctx`</ph> 및 <ph id="ph2">`obj`</ph> 는 <ph id="ph3">`null`</ph>을 들어가고 나가는 모든 컨텍스트의 모든 호출을 가로채어 됩니다.</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Either <ph id="ph1">&lt;paramref name="prop" /&gt;</ph> or its name is <ph id="ph2">&lt;see langword="null" /&gt;</ph>, or it is not dynamic (it does not implement <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>).</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="prop" /&gt;</ph> 또는 해당 이름이 <ph id="ph2">&lt;see langword="null" /&gt;</ph>이거나 동적 속성이 아닌 경우, 즉<ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>를 구현하지 않는 경우</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">개체와 컨텍스트가 모두 지정된 경우, 즉 <ph id="ph1">&lt;paramref name="obj" /&gt;</ph>와 <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph>가 모두 <ph id="ph3">&lt;see langword="null" /&gt;</ph>이 아닌 경우</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">코드를 CLR 인프라에 추가할 수 있도록 합니다.</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">연관된 열거형: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph></target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data slot where the data is to be added.</source>
          <target state="translated">데이터가 추가되는 데이터 슬롯입니다.</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data that is to be added.</source>
          <target state="translated">추가할 데이터입니다.</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>Sets the data in the specified slot on the current context.</source>
          <target state="translated">현재 컨텍스트의 지정된 슬롯에 데이터를 설정합니다.</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The actual context property.</source>
          <target state="translated">실제 컨텍스트 속성입니다.</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Sets a specific context property by name.</source>
          <target state="translated">이름으로 특정 컨텍스트 속성을 설정합니다.</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Adding properties to the default context is not allowed.</source>
          <target state="translated">기본 컨텍스트로 속성을 추가할 수 없습니다.</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The context is frozen.</source>
          <target state="translated">컨텍스트가 고정되어 있는 경우</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The property or the property name is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">속성 또는 속성 이름이 <ph id="ph1">&lt;see langword="null" /&gt;</ph>인 경우</target>       </trans-unit>
        <trans-unit id="180" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>Returns a <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">현재 컨텍스트의 <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> 클래스 표현을 반환합니다.</target>       </trans-unit>
        <trans-unit id="181" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>A <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">현재 컨텍스트의 <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> 클래스 표현입니다.</target>       </trans-unit>
        <trans-unit id="182" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The name of the dynamic property to unregister.</source>
          <target state="translated">등록을 취소할 동적 속성의 이름입니다.</target>       </trans-unit>
        <trans-unit id="183" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>속성<ept id="p1">&lt;/c&gt;</ept>을 등록할 해당 개체/프록시입니다.</target>       </trans-unit>
        <trans-unit id="184" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>속성<ept id="p1">&lt;/c&gt;</ept>을 등록할 컨텍스트입니다.</target>       </trans-unit>
        <trans-unit id="185" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Unregisters a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> 인터페이스를 구현하는 동적 속성의 등록을 취소합니다.</target>       </trans-unit>
        <trans-unit id="186" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the object was successfully unregistered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">개체가 성공적으로 등록 취소되었으면 <ph id="ph1">&lt;see langword="true" /&gt;</ph>이고, 그렇지 않으면 <ph id="ph2">&lt;see langword="false" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="187" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">&lt;paramref name="name" /&gt;</ph> parameter is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="name" /&gt;</ph> 매개 변수가 <ph id="ph2">&lt;see langword="null" /&gt;</ph>인 경우</target>       </trans-unit>
        <trans-unit id="188" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">개체와 컨텍스트가 모두 지정된 경우, 즉 <ph id="ph1">&lt;paramref name="obj" /&gt;</ph>와 <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph>가 모두 <ph id="ph3">&lt;see langword="null" /&gt;</ph>이 아닌 경우</target>       </trans-unit>
        <trans-unit id="189" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">코드를 CLR 인프라에 추가할 수 있도록 합니다.</target>       </trans-unit>
        <trans-unit id="190" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">연관된 열거형: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph></target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>