<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="ApplicationContext.xml" source-language="en-US" target-language="ko-KR">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac5170527b2b9bd8d0b547499e1581bacb86fb5c8bd.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">170527b2b9bd8d0b547499e1581bacb86fb5c8bd</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Specifies the contextual information about an application thread.</source>
          <target state="translated">응용 프로그램 스레드에 대한 컨텍스트 정보를 지정합니다.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>You can use the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> class to redefine the circumstances that cause a message loop to exit.</source>
          <target state="translated">사용할 수는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 클래스를 종료 하는 메시지 루프를 발생 시키는 상황을 재정의 합니다.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>By default, the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> listens to the <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> event on the application's main <ph id="ph3">&lt;xref:System.Windows.Forms.Form&gt;</ph>, then exits the thread's message loop.</source>
          <target state="translated">기본적으로는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 에서 수신 하는 <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> 응용 프로그램에서 이벤트의 주 <ph id="ph3">&lt;xref:System.Windows.Forms.Form&gt;</ph>, 다음 스레드의 메시지 루프를 종료 합니다.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The following code example displays two forms and exits the application when both forms are closed.</source>
          <target state="translated">다음 코드 예제에서는 두 개의 폼을 표시 하 고 모두 폼이 닫히면 응용 프로그램을 종료 합니다.</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>When the application starts and exits, the position of each form is remembered.</source>
          <target state="translated">응용 프로그램 시작 하 고 종료 하는 경우 각 폼의 위치가 기억 됩니다.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>This example demonstrates how to use an <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>, along with the <ph id="ph2">`Application.Run(context)`</ph> method, to display multiple forms when the application starts.</source>
          <target state="translated">사용 하는 방법을 보여 주는이 예제는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>와 함께 <ph id="ph2">`Application.Run(context)`</ph> 방법에서 응용 프로그램이 시작 될 때 여러 폼을 표시 합니다.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The class <ph id="ph1">`MyApplicationContext`</ph> inherits from <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> and keeps track when each form is closed, and exits the current thread when they both are.</source>
          <target state="translated">클래스 <ph id="ph1">`MyApplicationContext`</ph> 에서 상속 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 각 폼 닫혀 있고 모두 있을 때에 현재 스레드를 종료 하는 시기를 추적 하 고 있습니다.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The class stores the positions of each form for the user.</source>
          <target state="translated">이 클래스는 사용자에 대 한 각 폼의 위치를 저장 합니다.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The form position data is stored in a file titled <ph id="ph1">`Appdata.txt`</ph> that is created in the location determined by <ph id="ph2">&lt;xref:System.Windows.Forms.Application.UserAppDataPath%2A&gt;</ph>.</source>
          <target state="translated">폼 위치 데이터 파일에 저장 됩니다 <ph id="ph1">`Appdata.txt`</ph> 의해 결정 된 위치에 만들어진 <ph id="ph2">&lt;xref:System.Windows.Forms.Application.UserAppDataPath%2A&gt;</ph>합니다.</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The <ph id="ph1">`Main`</ph> method calls <ph id="ph2">`Application.Run(context)`</ph> to start the application, given the <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">`Main`</ph> 메서드 호출 <ph id="ph2">`Application.Run(context)`</ph> 지정 된 응용 프로그램을 시작 하는 <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>합니다.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> 클래스의 새 인스턴스를 초기화합니다.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class with no context.</source>
          <target state="translated">컨텍스트를 사용하지 않고 <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> 클래스의 새 인스턴스를 초기화합니다.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>The main <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> of the application to use for context.</source>
          <target state="translated">컨텍스트에 사용할 응용 프로그램의 주 <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class with the specified <ph id="ph2">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>.</source>
          <target state="translated">지정된 <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>를 사용하여 <ph id="ph2">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> 클래스의 새 인스턴스를 초기화합니다.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>If <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> is not overridden, the message loop of the thread terminates when <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.MainForm%2A&gt;</ph> is closed.</source>
          <target state="translated">경우 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> 은 재정의 되지 않으면 스레드의 메시지 루프 종료 될 때 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.MainForm%2A&gt;</ph> 닫혀 있습니다.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Releases the resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</source>
          <target state="translated">
          <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>에서 사용하는 리소스를 해제합니다.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Releases all resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</source>
          <target state="translated">
          <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>에서 사용하는 모든 리소스를 해제합니다.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Call <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> when you are finished using the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> 사용을 마치면 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>를 호출합니다.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> method leaves the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> in an unusable state.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> 메서드를 사용하면 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>를 사용할 수 없게 됩니다.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>After calling <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>, you must release all references to the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> so the garbage collector can reclaim the memory that the <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> was occupying.</source>
          <target state="translated">호출한 후 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>에 대 한 모든 참조를 해제 해야는 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 가비지 수집기는 메모리를 회수할 수 있도록 하는 <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 차지한 합니다.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>For more information, see <bpt id="p1">[</bpt>Cleaning Up Unmanaged Resources<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> and <bpt id="p2">[</bpt>Implementing a Dispose Method<ept id="p2">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</source>
          <target state="translated">자세한 내용은 참조 <bpt id="p1">[</bpt>관리 되지 않는 리소스 정리<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> 및 <bpt id="p2">[</bpt>Dispose 메서드를 구현<ept id="p2">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>합니다.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Always call <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> before you release your last reference to the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>에 대한 마지막 참조를 해제하기 전에 반드시 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>를 호출하십시오.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Otherwise, the resources it is using will not be freed until the garbage collector calls the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> object's <ph id="ph2">`Finalize`</ph> method.</source>
          <target state="translated">이렇게 하지 않으면 가비지 수집기가 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 개체의 <ph id="ph2">`Finalize`</ph> 메서드를 호출할 때까지 사용 중인 리소스가 해제되지 않습니다.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> to release both managed and unmanaged resources; <ph id="ph2">&lt;see langword="false" /&gt;</ph> to release only unmanaged resources.</source>
          <target state="translated">관리되는 리소스와 관리되지 않는 리소스를 모두 해제하려면 <ph id="ph1">&lt;see langword="true" /&gt;</ph>로 설정하고, 관리되지 않는 리소스만 해제하려면 <ph id="ph2">&lt;see langword="false" /&gt;</ph>로 설정합니다.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>Releases the unmanaged resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> and optionally releases the managed resources.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>에서 사용하는 관리되지 않는 리소스를 해제하고, 관리되는 리소스를 선택적으로 해제할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>This method is called by the public <ph id="ph1">`Dispose()`</ph> method and the <ph id="ph2">&lt;xref:System.Object.Finalize%2A&gt;</ph> method.</source>
          <target state="translated">이 메서드는 public <ph id="ph1">`Dispose()`</ph> 메서드 및 <ph id="ph2">&lt;xref:System.Object.Finalize%2A&gt;</ph> 메서드.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">`Dispose()`</ph> invokes the protected <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose%28System.Boolean%29&gt;</ph> method with the <ph id="ph3">`disposing`</ph> parameter set to <ph id="ph4">`true`</ph>.</source>
          <target state="translated"><ph id="ph1">`Dispose()`</ph> 보호 된 호출 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose%28System.Boolean%29&gt;</ph> 메서드는 <ph id="ph3">`disposing`</ph> 매개 변수 설정 <ph id="ph4">`true`</ph>합니다.</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;xref:System.Object.Finalize%2A&gt;</ph> invokes <ph id="ph2">`Dispose`</ph> with <ph id="ph3">`disposing`</ph> set to <ph id="ph4">`false`</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Object.Finalize%2A&gt;</ph> 호출 <ph id="ph2">`Dispose`</ph> 와 <ph id="ph3">`disposing`</ph> 로 설정 <ph id="ph4">`false`</ph>합니다.</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>When the <ph id="ph1">`disposing`</ph> parameter is true, this method releases all resources held by any managed objects that this <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> references.</source>
          <target state="translated">경우는 <ph id="ph1">`disposing`</ph> 매개 변수가 true 이면이 메서드는 관리 개체가 보유 하는 모든 리소스를 해제 합니다.이 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 참조 합니다.</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>This method invokes the <ph id="ph1">`Dispose()`</ph> method of each referenced object.</source>
          <target state="translated">이 메서드는 참조되는 각 개체의 <ph id="ph1">`Dispose()`</ph> 메서드를 호출합니다.</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> can be called multiple times by other objects.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="Dispose" /&gt;</ph>는 다른 개체에서 여러 번 호출할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>When overriding <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, be careful not to reference objects that have been previously disposed of in an earlier call to <ph id="ph2">&lt;see langword="Dispose" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>를 재정의할 때 이전 <ph id="ph2">&lt;see langword="Dispose" /&gt;</ph> 호출에서 삭제된 개체를 참조하지 않도록 주의하십시오.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>For more information about how to implement <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, see <bpt id="p1">[</bpt>Implementing a Dispose Method<ept id="p1">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</source>
          <target state="translated">구현 하는 방법에 대 한 자세한 내용은 <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, 참조 <bpt id="p1">[</bpt>Dispose 메서드를 구현<ept id="p1">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>합니다.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>For more information about <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> and <ph id="ph2">&lt;see cref="M:System.Object.Finalize" /&gt;</ph>, see <bpt id="p1">[</bpt>Cleaning Up Unmanaged Resources<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> and <bpt id="p2">[</bpt>Overriding the Finalize Method<ept id="p2">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</source>
          <target state="translated">에 대 한 자세한 내용은 <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> 및 <ph id="ph2">&lt;see cref="M:System.Object.Finalize" /&gt;</ph>, 참조 <bpt id="p1">[</bpt>관리 되지 않는 리소스 정리<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> 및 <bpt id="p2">[</bpt>Finalize 메서드를 재정의<ept id="p2">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>합니다.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>Terminates the message loop of the thread.</source>
          <target state="translated">스레드의 메시지 루프를 종료합니다.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>This method calls <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</source>
          <target state="translated">이 메서드는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>를 호출합니다.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> and <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> do not actually cause the thread to terminate.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> 및 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> 스레드가 종료 원인 실제로 하지 않습니다.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>These methods raise the <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> event to which the <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> object listens.</source>
          <target state="translated">이러한 메서드를 발생 시킵니다.는 <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> 있는 이벤트는 <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> 개체에서 수신 대기 합니다.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> object then terminates the thread.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> 개체에서 스레드를 종료 합니다.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The following code example is an excerpt from the example in the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> class overview.</source>
          <target state="translated">다음 코드 예제는 예제에서 발췌 한 구문을 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 클래스 개요입니다.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>This example keeps track of open forms and exits the current thread when all forms are closed.</source>
          <target state="translated">이 예에서는 열려 있는 폼을 추적 하 고 모든 폼이 닫히면 현재 스레드를 종료 합니다.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The <ph id="ph1">`OnFormClosed`</ph> method is an event handler for the <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> event.</source>
          <target state="translated"><ph id="ph1">`OnFormClosed`</ph> 메서드는에 대 한 이벤트 처리기는 <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> 이벤트입니다.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>When the number of open forms is equal to 0, then current thread is exited by calling the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> method.</source>
          <target state="translated">열려 있는 폼의 숫자가 0 이면 때 후 현재 스레드는 종료를 호출 하 여는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> 메서드.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The number of forms is tracked by incrementing the <ph id="ph1">`formCount`</ph> variable when a form is shown, and decrementing it when a form is closed.</source>
          <target state="translated">양식의 수 방식으로 추적 됩니다는 <ph id="ph1">`formCount`</ph> 양식에 표시 될 때 변수 및 감소 하는 폼을 닫을 때.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>Some code is not shown for the purpose of brevity.</source>
          <target state="translated">일부 코드는 간단 하 게 나타내기 위해 표시 되지 않습니다.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>See <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> for the whole code listing.</source>
          <target state="translated">참조 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 전체 코드 목록에 대 한 합니다.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>Terminates the message loop of the thread.</source>
          <target state="translated">스레드의 메시지 루프를 종료합니다.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>This method is called from <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph>.</source>
          <target state="translated">이 메서드는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph>합니다.</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> and <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> do not actually cause the thread to terminate.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> 및 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> 스레드가 종료 원인 실제로 하지 않습니다.</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>These methods raise the <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> event to which the <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> object listens.</source>
          <target state="translated">이러한 메서드를 발생 시킵니다.는 <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> 있는 이벤트는 <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> 개체에서 수신 대기 합니다.</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> object then terminates the thread.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> 개체에서 스레드를 종료 합니다.</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Attempts to free resources and perform other cleanup operations before the application context is reclaimed by garbage collection.</source>
          <target state="translated">가비지 수집에 의해 응용 프로그램 컨텍스트가 회수되기 전에 리소스를 해제하고 다른 정리 작업을 수행하려고 합니다.</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>This method overrides <ph id="ph1">&lt;xref:System.Object.Finalize%2A?displayProperty=nameWithType&gt;</ph> and cleans up resources by calling <ph id="ph2">`Dispose(false)`</ph>.</source>
          <target state="translated">이 메서드를 재정의 <ph id="ph1">&lt;xref:System.Object.Finalize%2A?displayProperty=nameWithType&gt;</ph> 호출 하 여 리소스를 정리 하 고 <ph id="ph2">`Dispose(false)`</ph>합니다.</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Override <ph id="ph1">`Dispose(Boolean)`</ph> to customize the cleanup.</source>
          <target state="translated"><ph id="ph1">`Dispose(Boolean)`</ph>를 재정의하여 정리 작업을 사용자 지정합니다.</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Application code should not call this method; an object's <ph id="ph1">`Finalize`</ph> method is automatically invoked during garbage collection, unless finalization by the garbage collector has been disabled by a call to the <ph id="ph2">&lt;xref:System.GC.SuppressFinalize%2A?displayProperty=nameWithType&gt;</ph> method.</source>
          <target state="translated">응용 프로그램 코드,이 메서드를 호출 하지 않아야 개체의 <ph id="ph1">`Finalize`</ph> 메서드를 호출 하 여 가비지 수집기의 종료를 사용 하지 않도록 설정 된 경우가 아니면 자동으로 가비지 수집 중 호출 됩니다는 <ph id="ph2">&lt;xref:System.GC.SuppressFinalize%2A?displayProperty=nameWithType&gt;</ph> 메서드.</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>For more information, see <bpt id="p1">[</bpt>Finalize Methods and Destructors<ept id="p1">](http://msdn.microsoft.com/library/fd376774-1643-499b-869e-9546a3aeea70)</ept>, <bpt id="p2">[</bpt>Cleaning Up Unmanaged Resources<ept id="p2">](~/docs/standard/garbage-collection/unmanaged.md)</ept>, and <bpt id="p3">[</bpt>Overriding the Finalize Method<ept id="p3">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</source>
          <target state="translated">자세한 내용은 참조 <bpt id="p1">[</bpt>Finalize 메서드 및 소멸자<ept id="p1">](http://msdn.microsoft.com/library/fd376774-1643-499b-869e-9546a3aeea70)</ept>, <bpt id="p2">[</bpt>관리 되지 않는 리소스 정리<ept id="p2">](~/docs/standard/garbage-collection/unmanaged.md)</ept>, 및 <bpt id="p3">[</bpt>Finalize 메서드를 재정의<ept id="p3">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>합니다.</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>Gets or sets the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> to use as context.</source>
          <target state="translated">컨텍스트로 사용할 <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>을 가져오거나 설정합니다.</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>The <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> to use as context.</source>
          <target state="translated">컨텍스트로 사용할 <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>This property determines the main <ph id="ph1">&lt;xref:System.Windows.Forms.Form&gt;</ph> for this context.</source>
          <target state="translated">이 속성은 기본 결정 <ph id="ph1">&lt;xref:System.Windows.Forms.Form&gt;</ph> 이 컨텍스트에 대 한 합니다.</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>This property can change at any time.</source>
          <target state="translated">이 속성은 언제 든 지 변경할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>If <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> is not overridden, the message loop of the thread terminates when the <ph id="ph2">`mainForm`</ph> parameter closes.</source>
          <target state="translated">경우 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> 은 재정의 되지 않으면 스레드의 메시지 루프 종료 시기는 <ph id="ph2">`mainForm`</ph> 매개 변수를 닫습니다.</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The object that raised the event.</source>
          <target state="translated">이벤트를 발생시킨 개체입니다.</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">이벤트 데이터를 포함하는 <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>Calls <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThreadCore" /&gt;</ph>, which raises the <ph id="ph2">&lt;see cref="E:System.Windows.Forms.ApplicationContext.ThreadExit" /&gt;</ph> event.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThreadCore" /&gt;</ph> 이벤트를 발생시키는 <ph id="ph2">&lt;see cref="E:System.Windows.Forms.ApplicationContext.ThreadExit" /&gt;</ph>를 호출합니다.</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The default implementation of this method calls <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</source>
          <target state="translated">이 메서드의 기본 구현을 호출 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>합니다.</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>Gets or sets an object that contains data about the control.</source>
          <target state="translated">컨트롤에 대한 데이터가 들어 있는 개체를 가져오거나 설정합니다.</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>An <ph id="ph1">&lt;see cref="T:System.Object" /&gt;</ph> that contains data about the control.</source>
          <target state="translated">컨트롤에 대한 데이터가 포함된 <ph id="ph1">&lt;see cref="T:System.Object" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>The default is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">기본값은 <ph id="ph1">&lt;see langword="null" /&gt;</ph>입니다.</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>Any type derived from the <ph id="ph1">&lt;xref:System.Object&gt;</ph> class can be assigned to this property.</source>
          <target state="translated">파생 된 모든 형식에서 <ph id="ph1">&lt;xref:System.Object&gt;</ph> 클래스는이 속성에 할당할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>If the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property is set through the Windows Forms designer, only text can be assigned.</source>
          <target state="translated">경우는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> Windows Forms 디자이너를 통해 속성이 설정 되어 있으면 텍스트만 지정할 수 있습니다.</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>A common use for the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property is to store data that is closely associated with the control.</source>
          <target state="translated">에 대 한 일반적인 용도 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> 속성은 컨트롤과 밀접 하 게 관련 된 데이터를 저장 합니다.</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>For example, if you have a control that displays information about a customer, you might store a <ph id="ph1">&lt;xref:System.Data.DataSet&gt;</ph> that contains the customer's order history in that control's <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property so the data can be accessed quickly.</source>
          <target state="translated">예를 들어 고객에 대 한 정보를 표시 하는 컨트롤을 사용 하는 경우 저장할 수 있습니다는 <ph id="ph1">&lt;xref:System.Data.DataSet&gt;</ph> 해당 컨트롤의 고객의 주문 기록이 들어 있는 <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> 속성 데이터를 신속 하 게 액세스할 수 있도록 합니다.</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>Occurs when the message loop of the thread should be terminated, by calling <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThread" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThread" /&gt;</ph>를 호출하여 스레드의 메시지 루프를 종료할 때 발생합니다.</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>The following code example demonstrates the use of this member.</source>
          <target state="translated">다음 코드 예제에서는이 멤버를 사용 하는 방법을 보여 줍니다.</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>In the example, an event handler reports on the occurrence of the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> event.</source>
          <target state="translated">예제에서는 이벤트 처리기에서 보고 된 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> 이벤트입니다.</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>This report helps you to learn when the event occurs and can assist you in debugging.</source>
          <target state="translated">이 보고서를 통해 이벤트 발생 하 고 디버깅 하는 데 도움이 수 때 배울 수 있습니다.</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>To report on multiple events or on events that occur frequently, consider replacing <ph id="ph1">&lt;xref:System.Windows.Forms.MessageBox.Show%2A?displayProperty=nameWithType&gt;</ph> with <ph id="ph2">&lt;xref:System.Console.WriteLine%2A?displayProperty=nameWithType&gt;</ph> or appending the message to a multiline <ph id="ph3">&lt;xref:System.Windows.Forms.TextBox&gt;</ph>.</source>
          <target state="translated">자주 발생 하는 이벤트 또는 여러 이벤트를 보고 하려면 바꾸는 것이 좋습니다 <ph id="ph1">&lt;xref:System.Windows.Forms.MessageBox.Show%2A?displayProperty=nameWithType&gt;</ph> 와 <ph id="ph2">&lt;xref:System.Console.WriteLine%2A?displayProperty=nameWithType&gt;</ph> 여러 줄에 메시지를 추가 하거나 <ph id="ph3">&lt;xref:System.Windows.Forms.TextBox&gt;</ph>합니다.</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>To run the example code, paste it into a project that contains an instance of type <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> named <ph id="ph2">`ApplicationContext1`</ph>.</source>
          <target state="translated">예제 코드를 실행 하려면 형식의 인스턴스를 포함 하는 프로젝트에 붙여 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> 라는 <ph id="ph2">`ApplicationContext1`</ph>합니다.</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>Then ensure that the event handler is associated with the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> event.</source>
          <target state="translated">그런 다음 이벤트 처리기가 연결을 확인는 <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> 이벤트입니다.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>