<Type Name="ExceptionMapper" FullName="System.ServiceModel.ExceptionMapper">
  <Metadata>
    <Meta Name="ms.openlocfilehash" Value="a32f75f11786a6cce780ac6f6433fcab933d8ad9" />
    <Meta Name="ms.sourcegitcommit" Value="d0bb31ec8354fa58c62c2a646057eec11d3e2150" />
    <Meta Name="ms.translationtype" Value="HT" />
    <Meta Name="ms.contentlocale" Value="ko-KR" />
    <Meta Name="ms.lasthandoff" Value="08/17/2018" />
    <Meta Name="ms.locfileid" Value="36610962" />
  </Metadata>
  <TypeSignature Language="C#" Value="public class ExceptionMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit ExceptionMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:System.ServiceModel.ExceptionMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class ExceptionMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class ExceptionMapper" />
  <TypeSignature Language="F#" Value="type ExceptionMapper = class" />
  <AssemblyInfo>
    <AssemblyName>System.ServiceModel</AssemblyName>
    <AssemblyVersion>4.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>예외를 오류로 변환하는 데 사용할 매핑을 정의합니다.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public ExceptionMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; ExceptionMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
          <see cref="T:System.ServiceModel.ExceptionMapper" /> 클래스의 새 인스턴스를 초기화합니다.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <MemberGroup MemberName="FromException">
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Docs>
        <summary>입력 예외를 오류로 해석합니다.</summary>
      </Docs>
    </MemberGroup>
    <Member MemberName="FromException">
      <MemberSignature Language="C#" Value="public virtual System.ServiceModel.FaultException FromException (Exception ex);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.ServiceModel.FaultException FromException(class System.Exception ex) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.FromException(System.Exception)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FromException (ex As Exception) As FaultException" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::ServiceModel::FaultException ^ FromException(Exception ^ ex);" />
      <MemberSignature Language="F#" Value="abstract member FromException : Exception -&gt; System.ServiceModel.FaultException&#xA;override this.FromException : Exception -&gt; System.ServiceModel.FaultException" Usage="exceptionMapper.FromException ex" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.ServiceModel.FaultException</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
      </Parameters>
      <Docs>
        <param name="ex">오류에 매핑되는 예외입니다.</param>
        <summary>입력 예외를 오류로 해석합니다.</summary>
        <returns>입력 예외에 해당하는 오류입니다.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FromException">
      <MemberSignature Language="C#" Value="public virtual System.ServiceModel.FaultException FromException (Exception ex, string soapNamespace, string trustNamespace);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.ServiceModel.FaultException FromException(class System.Exception ex, string soapNamespace, string trustNamespace) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.FromException(System.Exception,System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FromException (ex As Exception, soapNamespace As String, trustNamespace As String) As FaultException" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::ServiceModel::FaultException ^ FromException(Exception ^ ex, System::String ^ soapNamespace, System::String ^ trustNamespace);" />
      <MemberSignature Language="F#" Value="abstract member FromException : Exception * string * string -&gt; System.ServiceModel.FaultException&#xA;override this.FromException : Exception * string * string -&gt; System.ServiceModel.FaultException" Usage="exceptionMapper.FromException (ex, soapNamespace, trustNamespace)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.ServiceModel.FaultException</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
        <Parameter Name="soapNamespace" Type="System.String" />
        <Parameter Name="trustNamespace" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="ex">오류에 매핑되는 예외입니다.</param>
        <param name="soapNamespace">매핑된 오류를 생성할 때 사용되는 SOAP 네임스페이스입니다.</param>
        <param name="trustNamespace">매핑된 오류를 생성할 때 사용되는WS-Trust 네임스페이스입니다.</param>
        <summary>입력 예외를 오류로 해석합니다.</summary>
        <returns>입력 예외에 해당하는 오류입니다.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="HandleSecurityTokenProcessingException">
      <MemberSignature Language="C#" Value="public virtual bool HandleSecurityTokenProcessingException (Exception ex);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance bool HandleSecurityTokenProcessingException(class System.Exception ex) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.HandleSecurityTokenProcessingException(System.Exception)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function HandleSecurityTokenProcessingException (ex As Exception) As Boolean" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual bool HandleSecurityTokenProcessingException(Exception ^ ex);" />
      <MemberSignature Language="F#" Value="abstract member HandleSecurityTokenProcessingException : Exception -&gt; bool&#xA;override this.HandleSecurityTokenProcessingException : Exception -&gt; bool" Usage="exceptionMapper.HandleSecurityTokenProcessingException ex" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
      </Parameters>
      <Docs>
        <param name="ex">입력 예외입니다.</param>
        <summary>보안 토큰을 처리하는 동안 발생한 예외를 처리해야 하는지 여부를 확인합니다.</summary>
        <returns>예외를 처리해야 하면 <see langword="True" />이고, 그렇지 않으면 <see langword="false" />입니다.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>